* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

body {
    height:100vh;
    width:100vw;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    height:80vh;
    width:26vw;
    background-color: black;
    border-radius:7px;
    /* border:2px solid white; */
}

.display {
    height:25%;
    width:100%;
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
    font-size: 75px;

}

.result {
    color:white;
    margin-right:12px;
}

.buttons-container {
    height:75%;
    width:100%;
    display:flex;
    flex-direction: column;
    padding:7px;
    font-size: 35px;
}

.buttons-row {
    height:20%;
    width:100%;
    display:flex;
    justify-content: space-evenly;
}

.button {
    border-radius:100%;
    margin:8px;
    width:20%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;
    cursor: pointer;
}

.light-gray {
    background-color: lightgrey;
    color:black;
    font-weight:600;
    transition-duration:0.3s;
}

.orange {
    background-color:orange;
    color:white;
}

.orange-color-press {
    transition-duration: 0.5s;
    background-color:white;
    color:orange
}

.dark-gray {
    background-color: rgb(113, 113, 113);
    color:white;
    transition-duration:0.1s;
}

.color-press {
    transition-duration:0.1s;
    background-color:white;  
    /* color:black; */
  }

.zero {
    border-radius:30px;
    margin: 8px 12px;
    flex:2;
    /* margin-right:15px; */
}

.equals {
    transition-duration:0.1s;
}


